body
{
	background-color: Black;
	color: White;
	font-family: Arial;
	font-size: 12px;
}

#timingTable
{
	border-collapse:collapse;
	margin-bottom: 20px;
}

#timingTable th
{
	padding-left: 5px;
	padding-right: 5px;
}

#timingTable td
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Arial;
	font-size: 12px;
	text-align: right;
}

#timingTable thead
{
	color: #CCC;
	font-weight: normal;
}

#timingTable td.driverName
{
	text-align: left;
}

#timingTable td.position
{
	color: #0FF;
}

.onLap
{
	color: #0FF;
	margin-bottom: 20px;
}

.onLap span
{
	color: #F0F;
}

.raceTime
{
	color: #0FF;
	margin-bottom: 20px;
}

.raceTime span
{
	color: #F0F;
}





#battleTable
{
	background-color: #222;
	font-size: 14px;
	text-align: center;
	vertical-align: bottom;
}

.battleRow
{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 120px;
}

.battleBehind
{
	width: 30px;
	height: 100px;
	line-height: 100px;
	background-image: url('battlebehind.png');
	background-repeat: no-repeat;
	background-position: center center;

	vertical-align: bottom;

	float: left;
}

.battleGap
{
	width: 30px;
	height: 100px;
	line-height: 100px;
	background-image: url('battlegap.png');
	background-repeat: no-repeat;
	background-position: center center;

	vertical-align: bottom;

	float: left;
}

.battleCell
{
	width: 90px;
	height: 100px;

	font-size: 11px;

	float: left;
}

.battleCell img
{
	width: 65px;
	height: 93px;
}

.battleClear
{
	clear: both;
}




.timingTabs
{
	width: 100%;
	display: inline-block;
}

.timingTabsLinks:after
{
	display: block;
	clear: both;
	content: '';
}

.timingTabsLinks li
{
	float: left;
	list-style: none;
	background-color: #AA0;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.timingTabsLinks li:hover
{
	background-color: #FF0;
	text-decoration: none;
}

li.active, li.active:hover
{
	background: #FF8;
}
